﻿<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="~/images/favicon.png">
  <title>Payco | Hub</title>

  <environment include="Development">
    <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/src/css/site.css" />
    <link rel="stylesheet" href="~/src/css/icons.css" />
  </environment>
  <environment exclude="Development">
    <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/src/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/src/css/icons.css" />
  </environment>
</head>
<body>
  <!-- Main Menu -->
  <partial name="_CajaNavigation" />

  <!-- Main view  -->
  <div id="wrapper">
    @RenderBody()
  </div>

  <environment include="Development">
    <script src="~/node_modules/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.js" asp-append-version="true"></script>
    <script src="~/src/js/site.js" asp-append-version="true"></script>
  </environment>
  <environment exclude="Development">
    <script src="~/node_modules/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/src/js/site.js" asp-append-version="true"></script>
  </environment>

  @RenderSection("Scripts", required: false)
</body>
</html>


