@{
  Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<div id="changePasswordContainer"></div>

@section scripts {
  <script type="text/javascript" src="~/dist/changePassword.bundle.js" asp-append-version="true"></script>
  <script type="text/javascript" src="~/dist/navigation.bundle.js" asp-append-version="true"></script>
}