﻿
@{
  Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div id="completeRegistrationContainer" class="container-fluid"></div>

@section scripts {
  <script type="text/javascript" src="~/dist/completeRegistration.bundle.js" asp-append-version="true"></script>
}

