﻿
@{
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid h-100">
  <div class="titulo">Comisiones</div>

  <div class="row">
    <div class="col-sm-6 mb-4">
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input" checked="checked">
        <label class="custom-control-label subtitulo" for="customRadioInline1">Resumen Mensual</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input" onclick="(function(){ window.location.href = 'DetalleComisiones' })()">
        <label class="custom-control-label subtitulo" for="customRadioInline2">Estimación Diaria</label>
      </div>
    </div>
  </div>

  <div class="card border-0 shadow-sm mb-5">
    <div class="card-body bg-lighter-grey p-5">
      <div class="row">
        <label class="col-sm-1 pr-0">Mes</label>
        <div class="col-sm-3 mb-4">
          <select id="estado" class="form-control border-0">
            <option value="" selected="selected">Todos</option>
          </select>
        </div>
        <div class="col-sm-4 ml-auto text-right"><a class=" text-dark-blue" href="#">Ver condiciones comerciales <i class="icon tz-fee text-light-blue h4 ml-2"></i></a></div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-3 mt-4">
          <button id="buscar" class="btn btn-block btn-light-blue" type="button">Buscar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column align-items-center align-items-stretch justify-content-center h-50">
    <div>
      <div class="row">
        <div class="col offset-1">
          <div class="titulo">Resumen de comisiones del mes de agosto</div>
        </div>
      </div>

      <div class="row justify-content-center my-5">
        <div class="col-sm-6">
          <table class="table table-striped table-resumen-admin">
            <thead>
              <tr>
                <th class="w-50 border-0">Biller</th>
                <th class="text-center border-0">Tx</th>
                <th class="text-right border-0">Monto (Bs)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Biller 1</td>
                <td class="text-center">0</td>
                <td class="text-right">Bs. 30.000,00</td>
              </tr>
              <tr>
                <td>Biller 2</td>
                <td class="text-center">0</td>
                <td class="text-right">Bs. 30.000,00</td>
              </tr>
              <tr>
                <td>Biller 3</td>
                <td class="text-center">0</td>
                <td class="text-right">Bs. 30.000,00</td>
              </tr>
              <tr>
                <td>Biller 4</td>
                <td class="text-center">0</td>
                <td class="text-right">Bs. 30.000,00</td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex">
            <div class="subtitulo">Total Transacciones realizadas:</div>
            <div class="subtitulo ml-auto">Bs.S 35.000,00</div>
          </div>
        </div>
        <div class="col-sm-4">
          <table class="table table-striped table-resumen-admin">
            <thead>
              <tr>
                <th class="border-0">Comisi&oacute;n</th>
                <th class="text-right border-0">Monto (Bs)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Comisi&oacute;n Biller 1</td>
                <td class="text-right">Bs.S 0,00</td>
              </tr>
              <tr>
                <td>Comisi&oacute;n Biller 2</td>
                <td class="text-right">Bs.S 0,00</td>
              </tr>
              <tr>
                <td>Comisi&oacute;n Biller 3</td>
                <td class="text-right">Bs.S 0,00</td>
              </tr>
              <tr>
                <td>Comisi&oacute;n Biller 4</td>
                <td class="text-right">Bs.S 0,00</td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex">
            <div class="subtitulo">Total Comisi&oacute;n:</div>
            <div class="subtitulo ml-auto">Bs.S 35.000,00</div>
          </div>
          <div class="d-flex">
            <div class="subtitulo">IVA:</div>
            <div class="subtitulo ml-auto">Bs.S 350,00</div>
          </div>
          <div class="d-flex justify-content-end">
            <div class="titulo">Total: Bs.S 350,00</div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-sm-3">
          <button class="btn btn-block btn-light-green">Ver Detalle</button>
        </div>
      </div>
    </div>
  </div>
</div>
