@{
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="panelNotificarPagos" class="container-fluid h-100"></div>

@section scripts {
  <script type="text/javascript" src="~/dist/notificarPago.bundle.js" asp-append-version="true"></script>
}