@import './variables.scss';
@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope.ttf') format('truetype');
}

button,a{
    outline: none !important;
    box-shadow:none !important;
    text-decoration: none !important;
}
html{
    min-height: 100%;
    display: flex;
    align-items: stretch;
    width: 100%;
}
body,#root{
    background: $bg-fondo;
    display: flex;
    align-items: stretch;
    width: 100%;
    font-family: Manrope;
    font-weight: 500;
}
.bg-fondo{background: $bg-fondo;}
.bg-ppal{background: $bg-ppal;}

.cTexto1{color:$c-texto1}
.cTexto2{color:$c-texto2}
.cTexto3{color:$c-texto3}
.cTexto4{color:$c-texto4}
.cTextoI{color:$c-textoI}
.placeHolder{color:$placeHolder}

.f14{font-size: 14px;}
.f16{font-size: 16px;}
.f18{font-size: 18px;}
.f20{font-size: 20px;}
.f22{font-size: 22px;}

#pageLogin{
    .wrapLogin{
        width: 100%;
        max-width: 280px;
        margin:80px 20px;
        figure{
            padding: 20px;
            background: #ffffff;
            border-radius: 50%;
            display: flex;
            width: 120px;
            height: 120px;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
            box-shadow: 0 0 20px (#B0B9D016);
            img{
                display: block;

            }
        }
        h2{
            line-height: 20px;
            font-weight: 900;
            margin-bottom: 30px;
        }
        a{
            font-size: 11px;
            margin-bottom: 30px;
            &:hover{
                color: $c-texto4;
            }
        }

        button{
            font-size: 14px;
            font-weight: 900;
        }
    }
}

.btnGeneral{
    background: $bg-btn-gen;
    color: $c-btn-gen;
    height: 40px;
    line-height: 40px;
    padding: 0;
    &:hover{
        color: $c-btn-gen;
    }
}
.btn{
    span{
        display: block;
        position: relative;
        z-index: 2;
        overflow: hidden;
        transition: ease-in-out all .3s;
    }
    &:hover{
        span{
            background: rgba(0,0,0,.1);
        }
    }
}

.wrapInput{
    display: block;
    position: relative;
    label{
        font-size: 12px;
        position: absolute;
        top: 14px;
        left: 17px;
        line-height: 12px;
        background: #fff;
        padding-right: 5px;
        transition: ease-in-out all .3s;
        pointer-events: none;
    }
    input,
    {
        width: 100%;
        background: #FFFFFF;
        border: solid 1px #EDF0F4;
        border-radius: 4px;
        padding: 0 15px;
        height: 40px;
        line-height: 38px;
        margin-bottom: 30px;
        color: $c-texto1;
        font-size: 14px;
        outline: none !important;
        box-shadow: none !important;
    }
    input:focus + label,input:not([value=""]) + label{
        top: -6px;
    }
    
}