﻿
<div class="container-fluid flex-grow-1">
  <div class="titulo">Pago de Servicios</div>
  <div class="row mb-5">
    <div class="col-sm-4">
      <button id="btnAfiliado" class="btn btn-light-blue btn-block">
        <i class="icon tz-profile"></i> Afiliado
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 mb-3">
      <div class="dropdown">
        <button class="btn btn-dropdown btn-block" type="button" id="dropdownCategorias" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categorías
          <i class="icon tz-angle-down-light"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownCategorias">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-3">
      <div class="dropdown">
        <button class="btn btn-dropdown btn-block" type="button" id="dropdownSubCategorias" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sub-Categorías
          <i class="icon tz-angle-down-light"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownSubCategorias">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-3">
      <div class="dropdown">
        <button class="btn btn-dropdown btn-block" type="button" id="dropdownMarcas" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Marca o empresa
          <i class="icon tz-angle-down-light"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMarcas">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-3">
      <div class="dropdown">
        <button class="btn btn-dropdown btn-block" type="button" id="dropdownServicios" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Servicio
          <i class="icon tz-angle-down-light"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownServicios">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-3">
      <div class="dropdown show">
        <button class="btn btn-dropdown btn-block" type="button" id="dropdownReferencias" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Referencias
          <i class="icon tz-angle-down-light"></i>
        </button>
        <div class="dropdown-menu p-3 show" aria-labelledby="dropdownReferencias">
          <form>
            <div class="form-row align-items-center">
              <label class="col-form-label mb-3">Referencia 1</label>
              <div class="col-5 mb-3">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <select class="form-control bg-lighter-grey">
                      <option>V</option>
                      <option>E</option>
                      <option>P</option>
                    </select>
                  </div>
                  <input type="text" class="form-control bg-lighter-grey" aria-label="Text input with dropdown button">
                </div>
              </div>
            </div>
            <div class="form-row align-items-center">
              <label class="col-form-label mb-3">Referencia 2</label>
              <div class="col-5 mb-3">
                <select class="form-control bg-lighter-grey">
                  <option>Option 1</option>
                  <option>Option 2</option>
                </select>
              </div>
            </div>
            <div class="form-row align-items-center">
              <label class="col-form-label mb-3">Referencia 3</label>
              <div class="col-5 mb-3">
                <input type="text" class="form-control bg-lighter-grey" />
              </div>
            </div>
          </form>
          <button id="btnReferences" class="btn btn-light-green float-right">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
  <div id="confirmaReferencias" class="row d-none">
    <div class="col-12 mb-3">
      <div class="d-flex flex-row align-items-stretch shadow-sm msj-confirm">
        <div class="btn-light-blue d-flex align-items-center p-2">
          <i class="icon tz-alert h1 text-white"></i>
        </div>
        <div id="msjConfirmaPago" class="flex-grow-1 p-2">
          <span class="">¿Est&aacute; seguro de que los siguientes datos son correctos?</span>
          <div id="detalleReferencias" class="mt-2">
            <ul class="list-unstyled m-0">
              <li>Número de tel&eacute;fono: 04125555555</li>
            </ul>
          </div>
        </div>
        <div class="d-flex align-items-center p-2">
          <button id="validaRefencias" class="btn btn-light-green btn-sm px-3 mx-1">Si</button>
          <button class="btn btn-light-grey btn-sm px-3 mx-1">No</button>
        </div>
      </div>
    </div>
  </div>
  <div id="confirmaPago" class="row d-none">
    <div class="col-12 mb-3">
      <div class="d-flex flex-row align-items-stretch shadow-sm msj-confirm">
        <div class="btn-light-green d-flex align-items-center p-2">
          <i class="icon tz-success h1 text-white"></i>
        </div>
        <div id="msjConfirmaPago" class="flex-grow-1 p-2">
          <div id="detalleReferencias" class="">
            <div class="subtitulo">Número de tel&eacute;fono:</div>
            <div>04125555555</div>
          </div>
        </div>
        <div class="d-flex align-items-center p-2">
          <i class="icon tz-close-light"></i>
        </div>
      </div>
    </div>
  </div>
  <div id="showMontos" class="row d-none">
    <div class="col-12 mb-3">
      <div class="dropdown show">
        <button class="btn btn-dropdown btn-block" type="button" id="dropdownMontos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Montos
          <i class="icon tz-angle-down-light"></i>
        </button>
        <div class="dropdown-menu p-3 show" aria-labelledby="dropdownMontos">
          <form>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
              <label class="custom-control-label" for="customRadioInline1">Bs.S 20.000</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
              <label class="custom-control-label" for="customRadioInline2">Bs.S 50.000</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input">
              <label class="custom-control-label" for="customRadioInline3">Bs.S 100.000</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline4" name="customRadioInline1" class="custom-control-input">
              <label class="custom-control-label" for="customRadioInline4">Otro</label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>   
</div>
<div class="container-fluid align-content-end my-3">
  <div class="row justify-content-center">
    <div class="col-sm-4">
      <button class="btn btn-dark-blue btn-block">Atr&aacute;s</button>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-light-blue btn-block">Agregar</button>
    </div>
  </div>
</div>
