
<div id="RegistrarPagoModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <div class="titulo text-center mb-4 flex-grow-1">Registro de Pago</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="icon tz-close-light small text-light-grey"></i>
        </button>
      </div>
      <div class="modal-body p-5 pt-0">        
        <div class="row mb-5">
          <div class="col-sm-6 d-flex">
            <div class="input-group mb-4">
              <div class="input-group-prepend bg-light-blue align-items-center">
                  <i class="icon tz-profile text-white p-1 h5"></i>
              </div>
              <input class="form-control bg-lighter-grey" type="text" />
              <div class="input-group-append bg-lighter-grey align-items-center">
                  <i class="icon tz-search text-light-grey p-1 h5"></i>
              </div>
            </div>
            <div>
              <i class="icon tz-profile-slash text-light-grey p-2 mx-3 h5"></i>
            </div>
          </div>
        </div>
        <form class="">
          <div class="row">            
            <div class="col-sm-4 mb-4">
              <input class="form-control bg-lighter-grey" type="text" placeholder="Nombre" />
            </div>
            <div class="col-sm-4 mb-4">
              <input class="form-control bg-lighter-grey" type="text" placeholder="Apellido" />
            </div>
            <div class="col-sm-4 mb-4">
              <div class="input-group align-items-center">
                <input class="form-control bg-lighter-grey" type="text" placeholder="Correo" />
                <div class="input-group-append">
                  <i class="icon tz-mobile text-light-grey p-2 h5"></i>
                </div>
              </div>              
            </div>            
          </div>
          <div class="row justify-content-end">
            <div class="col-sm-5 mb-4 text-right">
              <span class="small">MONTO TOTAL: &nbsp;</span>
              <span class="subtitulo">Bs.S 50.000,00</span>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 mb-4">
              <select class="form-control bg-lighter-grey" placeholder="Método de pago">
                <option hidden>Método de pago</option>
                <option>Efectivo</option>
                <option>Tarjeta de Crédito</option>
                <option>Tarjeta de Débito</option>
                <option>Múltiples</option>
              </select>
            </div>
            <div class="col-sm-6 mb-4">
              <input class="form-control bg-lighter-grey" type="text" placeholder="Monto a pagar Bs.S" />
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <select class="form-control bg-lighter-grey" placeholder="Método de pago">
                <option>Efectivo</option>
                <option>Tarjeta de Crédito</option>
                <option>Tarjeta de Débito</option>
                <option>Múltiples</option>
              </select>
            </div>
            <div class="col-sm-3">
              <input class="form-control bg-lighter-grey" type="text" placeholder="Monto a pagar Bs.S" />
            </div>
            <div class="col-sm-3">
              <select class="form-control bg-lighter-grey" placeholder="Método de pago">
                <option>Efectivo</option>
                <option>Tarjeta de Crédito</option>
                <option>Tarjeta de Débito</option>
                <option>Múltiples</option>
              </select>
            </div>
            <div class="col-sm-3">
              <input class="form-control bg-lighter-grey" type="text" placeholder="Monto a pagar Bs.S" />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer p-5 pt-0 d-flex border-0">
        <div class="row flex-grow-1 justify-content-center">
          <div class="col-sm-4">
            <button type="button" class="btn btn-light-blue btn-block">Procesar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>