@{
  Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<div id="panelSoporte" class="w-100 h-100">
</div>

@section scripts {
  <script type="text/javascript" src="~/dist/soporte.bundle.js" 
    asp-append-version="true"></script>
}